[Unit]
Description=spring boot daemon
After=network.target

[Service]
User={{appuser}}
EnvironmentFile=/home/azureuser/.envfile
Group={{appgroup}}
WorkingDirectory={{service.workingdir}}
ExecStart={{service.execstart}}

[Install]
WantedBy=multi-user.target